/*YouStaff Colors
head/logo aquablue- #7EF9FF
start button green- #C4E428
info strip blue-#DBF8FB
info strip dot- #727272
foot-grey-#9B9B9B
*/

/*To Do
--navtabs
--color adjustment
--location location location*/
* {
    font-family:"lato";
    text-align:center;  
}
.navbar {
    background-color:#FFF;
    color:#9B9B9B;
    padding: 0px 39px;
    height:84px;
}
.nav {
    float: right;
    display: inline-block;
}
.nav-pills>li.active>a{
    background-color: white;
    color:#9B9B9B;
    border:2px solid #7EF9FF;
    margin-top: 23px;
}
#logo {
    float:left;
    height: 65px;
    margin-top: 7px;
}
.navpills {
    color:#9B9B9B;
    font-size:18px;
}
a {
    margin-top: 23px;
    color:#9B9B9B;
}
/*
.navbar {
    background:white;
    box-shadow: 0 0 10px #333;
    text-align:right;
    list-sytle-type: none;
}

.navbar-content {
    width: 60%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 17px;
}
.navlinks > .sign{
    border: 3px solid #7EF9FF;
}
.navbar-list {
    float: right;
    margin-top: 5px;

}
.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    padding-top: 10px;
    margin: 0 auto;
}*/
/* Dropdown nav code-->

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/

.jumbotron {
    background-image:url('../images/newDocBack.jpg');
    margin-bottom: 0px;
    background-image: src(images/multiracenurses.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align:center;
    padding-top: 366px;
    height: 86rem;
    font-size: 46px;
}
.jumbotron > p {
    font-size: 32px;
}
#signupbtn {
    background-color:transparent;
    color:white;
    text-shadow: none;
    border:2px solid white;
    width: 295px;
    height: 60px;
    font-size: 28px;
}
p.scrollPrompt {
    font-size: 1.5em;
    margin-top: 160px;
}
h2 {
    margin-top:0;
    margin-bottom:0;
}
/*#allowInfo{
    display:inline-block;
}*/

.cases .devices {
    width:25%;
    display:inline-block;
    background-color:#EBEAEA;
}
.cases {
    background-color:#EBEAEA;
    height: 50rem;
    padding-top:84px;
}
.icon {
    height:150px;
    width:150px;
}
.devices {
    margin-top:58px;
}
div.container{
    margin:auto auto;
    text-align:center;
    background-color:#212121;
    color:white;
} 
.howTitle {
    font-size:28px;
}
.casesTitle {
    background-color:#EBEAEA;
    margin-bottom:0px;
    height: 89px;
}
.howItWorks {
    background-color:#212121;
}
.howTitle {
    color:#FFF;
    font-size:28px;
    margin:6px auto;
    padding-top:60px;
    height:90px;
    font-weight:bold;
    padding-bottom: 3px;
    width:290px;
}
.underline {
    height:20px;
    margin-left: 43%;
    border-bottom: 1px solid #FFF;
    width: 200px;
}
.squeeze {
    width:50px;
    border-bottom:1px solid #9B9B9B;
}
.iconbox > div {
    text-align: center;
    width: 128px;
    display: inline-block;
}
.iconbox p {
    margin: 0;
}
.created {
    height: 47rem;
    padding-top: 0px;
    display:inline-block;
}
#createdBy {
    padding-bottom:35px;
    padding-top:20px;
    padding-left: 227px;
}
#nurseFoldedArms {
    padding-top:62px;
    width:54.85rem;
    margin-right:8rem;
}
.foot{
    background-color:#9B9B9B;
}
table.create {
    margin:0;
}
#createdTitle {
    padding-bottom:3rem;
    font-weight:bold;
    font-size:28px;
    text-align:left;
}
.signupbtn {
    margin-top:31px;
    float:left;
    text-shadow: none;
    width: 282px;
    height: 60px;
    font-size: 28px;
    background-color:transparent;
    color:#9B9B9B;
    border: 2px solid #7EF9FF;
}
.div {
    padding:50px 349px;
    color:#FFF;
    background-color:#212121;
    height:282px;
}
.bigText, .picText {
    text-align:left;
    font-size:24px;
    margin-top:7px;
}
.bigText {
    font-weight:bold;
}
.picText {
    width: 456px;
}
.picRight {
    height:150px;
    width:150px;
}
.dumbo {
    background-color:#EBEAEA;
    height: 15rem;
    padding-top: 2.75em;
}
.boot { 
    font-size: 18px;
}
.theFooter {
    width:450px;
    padding-left: 192px;
    text-align:left;
    height: 2rem;
}
.theFootIcons {
    padding-top:4px;
    padding-left:67px;
}
.bottomIcons {
    margin-right: 5px;
    display: inline;
    height: 45px;
    width: 45px;
}
.up {
    padding-bottom:19px;
}
.copyright {
    height:50px;
    padding-top:15px;
}
/*-----Sign---Up---Modals----*/
.modalDialog {
    position: fixed;
    font-family:"lato";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;

}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    height: 620px;
    position: relative;
    margin: 5% auto;
    padding: 25px 26px 13px 20px;
    border-radius: 10px;
    background: #fff;
/*    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
*/}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: #7EF9FF; 
}
.modalLogo {
    height:30%;
    width:42%;
}
.modalDialog > div {
    height:;
}
#activeDot{
    text-color:#7EF9FF;
}
.dot {
    display:inline;
    color:#9B9B9B;
    font-size:21px;
    padding: 7px;
}
#activeDot {
    color:#7EF9FF;
}
.modalInputs {
    height:57px;
    width:312px;
    border-radius:5px;
    margin-top: 6px;    
    font-size: 18px;
    text-align: left;
    padding-left: 19px;
    color:#9B9B9B;
}
.modalNameInputs {
    height:57px;
    width:150px;
    border-radius:5px;
    margin: 6px 5px;
    font-size: 18px;
    text-align: left;
    padding-left: 19px;
    color:;
}
.remember_me {
    color:#9B9B9B;
}
.nextClick {
    margin-top: 8px;
    width: 254px;
    padding-top: 20px;
    height: 60px;
    font-size:18px;
    border-radius:5px;
    color:white;
    background-color:#9B9B9B;
    border:none;
}
.login-help {
     padding-top:15px;
     color:#9B9B9B;
}
.terms {
    color:#7EF9FF;
}