/*YouStaff Colors
head/logo aquablue- #7EF9FF
start button green- #C4E428
info strip blue-#DBF8FB
info strip dot- #727272
foot-grey-#9B9B9B
*/

/*To Do
--navtabs
--color adjustment
--location location location*/
* {
    font-family:"lato";
    text-align:center;  
}
.navbar {
    background-color:#FFF;
    color:#9B9B9B;
    padding: 0px 39px;
}
.nav, .nav-tabs {
    float: right;
    display: inline-block;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: white;
    color:#9B9B9B;
    margin-top: 23px;
    border: 3px solid #7EF9FF;
}
#logo {
    float:left;
    height: 86px;
}
.navpills {
    color:#9B9B9B;
}
a {
    margin-top: 23px;
    color:#9B9B9B;
}
/*
.navbar {
    background:white;
    box-shadow: 0 0 10px #333;
    text-align:right;
    list-sytle-type: none;
}

.navbar-content {
    width: 60%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 17px;
}
.navlinks > .sign{
    border: 3px solid #7EF9FF;
}
.navbar-list {
    float: right;
    margin-top: 5px;

}
.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    padding-top: 10px;
    margin: 0 auto;
}*/
/* Dropdown nav code-->

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/

.jumbotron {
    background-image:url('../images/multiracenurse.jpg');
    margin-bottom: 0px;
    background-image: src(images/multiracenurses.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align:center;
    padding-top: 366px;
    height: 83rem;
}
.jumbotron > p {
    font-size: 38px;
}
#signupbtn {
    background-color:#C4E428;
    color:black;
    text-shadow: none;
    border:none;
    width: 282px;
    height: 60px;
    font-size: 24px;
}
#allowance {
    background-color:#DBF8FB;
}
h2 {
    margin-top:0;
}
#allowInfo{
    display:inline-block;
}
.bigDots {
    height: 4em;
    width:4em;
    background-color:#727272;
    border:none;
    border-radius: 50%;
    display:inline-block;
    list-style-type:none;
}
#how {
    background-color:#9B9B9B;
}
iconbox {
    height: 128px;
    padding: 20px;
}
.iconbox > div {
    text-align: center;
    width: 128px;
    display: inline-block;
}
.iconbox p {
    margin: 0;
}